.container {
	.inner-header,
	.inner-contents,
	.inner-main,
	.inner-footer {
		@include container();
		/*@include susy-grid-background;*/
	}
	.inner-contents {
		padding: 0;
		.section-title {
			border-bottom: 1px solid $gray;
			padding-bottom: 15px;
			margin-bottom: 20px;
			h3 { 
				font: 1.7em $SSPlight;
				strong {
					font: 100% $SSPbold;
				}
			}
		}
		.movie-grid {
			position: relative;
			list-style: none;
			text-align: center;
			.movie-item {
				height: 330px;
				width: 175px;
				float: left;
				margin: 0 1%;
				text-align: center;
				figure {
					position: relative;
					overflow: hidden;
					max-height: 260px;
					width: 175px;
					cursor: pointer;
					img {
						position: relative;
						display: block;
						min-height: 100%;
						max-width: 100%;
					}
					figcaption {
						padding: 1em;
						color: #fff;
						text-transform: uppercase;
						font-size: 1.25em; 
						color: #fff; 
						&::before, &::after {
							pointer-events: none;
						}
						&, & > .overlay {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
						/* Anchor will cover the whole item by default */
						/* For some effects it will show as a button */
						& > .overlay {
							z-index: -1;
							text-indent: 200%;
							white-space: nowrap;
							font-size: 0;
							opacity: 0;
						}
						h2 {
							word-spacing: -1.15em;
							font-weight: 300;
							font: 24px $SSPlight;
							span {
								font: 12px $SSP;
								&::before {
									content: '';
									height: 2px;
									width: 50%;
									display: block;
									background: $cyan;
									margin: 5px auto 0 auto;
								}
							}
						}
					}
					h2, .play-btn, .trailer-btn {
						margin: 0;
					}
					.play-btn {
						height: 65px;
						width: 65px;
						background: url('../images/playbutton.png') no-repeat;
						position: absolute;
						z-index: 2;
						left: 0;
						right: 0;
						text-indent: 200%;
						display: block;
						&:hover {
							background-position: 0 -65px;
						}
					}
					.trailer-btn {
						height: 30px;
						width: 110px;
						position: absolute;
						z-index: 2;
						left: 0;
						right: 0;
						bottom: 20px;
						display: block;
						border-radius: 15px;
						font: 16px $SSP;
						padding: 4px 0;
						text-decoration: none;
						color: $white;
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+1,757575+98 */
						background: #cecece; /* Old browsers */
						background: -moz-linear-gradient(top,  #cecece 1%, #757575 98%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top,  #cecece 1%,#757575 98%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  #cecece 1%,#757575 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#757575',GradientType=0 ); /* IE6-9 */
						&:hover {
							background: #757575; /* Old browsers */
							background: -moz-linear-gradient(top,  #f1f1f1 1%, #757575 70%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  #f1f1f1 1%,#757575 70%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  #f1f1f1 1%,#757575 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#757575',GradientType=0 ); /* IE6-9 */
							
						}
					}
					&.effect-chico {
						figcaption {
							padding: 1em;
							&::before {
								position: absolute;
								top: 0px;
								right: 0px;
								bottom: 0px;
								left: 0px;
								border: 5px solid $cyan;
								content: '';
							}
						}
						h2 {
							padding: 5% 0 15px 0;
						}
						 figcaption::before, .play-btn, h2, .trailer-btn {
							opacity: 0;
							-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
							transition: opacity 0.35s, transform 0.35s;
						} 
						.play-btn, h2, .trailer-btn {
							margin: 0 auto;
							max-width: 175px;
							-webkit-transform: scale(1.5);
							transform: scale(1.5);
						}
						&:hover figcaption::before {
							opacity: 1;
							-webkit-transform: scale(1);
							transform: scale(1);
								background: rgba(0,0,0,0.7);
						}
						&:hover .trailer-btn,
						&:hover .play-btn,
						&:hover h2 {
							opacity: 1;
							-webkit-transform: scale(1);
							transform: scale(1);
						}
					}
				}
				.movie-title {
					margin-top: 10px;
					padding: 0 5px;
					h4 {
						font: 12px $SSPbold;
						color: $black-light;
						letter-spacing: 0.9px;
					}
				}
			}
		}
	}
	
	header {
		height: 70px;
		background: $black;
		.inner-header {
			padding: 0 10px;
			position: relative;
			.logo {
				font: 38px $SSPbold;
				float: left;
				margin-right: 40px;
				text-transform: uppercase;
				padding-top: 10px;
				a {
					text-decoration: none;
					color: $cyan;
				}
			}
			nav {
				height: 70px;
				ul {
					li {
						float: left;
						height: 70px;
						margin-right: 10px;
						padding: 25px 10px 0 10px;
						a {
							color: $white;
							font: 16px $SSPbold;
							text-decoration: none;
						}
						.dropdown{
							&:after {
								content: '';
								height: 16px;
								width: 16px;
								background: url('../images/ic_arrow_drop_down_white_24dp_1x.png')no-repeat;
								display: block;
								float: right;
							}	
						}
						&:hover {
							background: $cyan;
							a {
								color: $black;
							}
							.subnav {
								visibility: visible;
								top: 100%;
								opacity: 1;
							}
						}
						.subnav {
						    visibility: hidden;
						    position: absolute;
						    display: block;
						    z-index: 50;
						    top: -10px;
						    height: auto;
						    opacity: 0;
						    transition: all 0.1s;
						    background: $black;
						    padding: 10px;
						    .subnav-list {
						    	float: left;
						    	width: 120px;
						    	&:last-child {
						    		margin-left: 0;
						    		li {
						    			margin-right: 0;
						    		}
						    	}
							    li {
							    	float: none;
							    	height: 40px;
							    	padding: 10px;
							    	text-align: center;
						    		border-bottom: 1px solid #2e2e2e;
							    	a {
							    		color: $white;
							    	}
							    	&:last-child {
							    		border-bottom: none;				
							    	}
						    		&:hover {
						    			a {
						    				color: $black-light;
						    			}
						    		}
							    }
						    }
						}
						.genre {
						    left: 300px;
						    width: 380px;
						}
						.country {
						    left: 390px;
						    width: 380px;	
						}
						.year {
						    left: 490px;
						    width: 380px;
						}
					}
				}
			}
			.quick-search-input {
				float: right;
				height: auto;
				width: 250px;
				padding-top: 18px;
				form {
					position: relative;
					.form-quick-search-input {
						width: 100%;
						background: transparent;
						border-radius: 20px;
						border: 2px solid $gray;
						padding: 5px 10px;
						color: $white;
						transition:All 1.418s ease;
						-webkit-transition:All 1.418s ease;
						-moz-transition:All 1.418s ease;
						-o-transition:All 1.418s ease;
						&:hover {
							transition:All 1.418s ease;
							-webkit-transition:All 1.418s ease;
							-moz-transition:All 1.418s ease;
							-o-transition:All 1.418s ease;
							border: 2px solid $white;
						}
						&.has-error {
							border: 2px solid $red;
						}
						.form-input-search {
							background: transparent;
							color: $gray;
							border: none;
							width: 100%;
							height: 100%;
							&:hover, &:focus {
								color: $white;
							}
						}
					}
				}
			}
		}
	}
	main {
		.highlights {
			.inner-contents {
				padding: 40px 10px;
			}
			.latest-movies, .movie-player-poster {
				width: 100%;
				position: relative;
			}
			.latest-movies {
				background: url('../images/shattered.png');
				height: 450px;
				.slick-prev, .slick-next {
					top: 40%;
				}
			}
			.movie-player-poster {
				height: 480px;
				.movie-poster, .movie-player {
					position: relative;
					z-index: 3;
				}
				.movie-poster {
					@include span-columns(4, 16);
				}
				.movie-player {
					@include span-columns(12 omega, 16);	
				}
				.background-image, .background-overlay {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
				}
				.background-image {
					z-index: 0;
				}
				.background-overlay	{
					z-index: 1;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1c1c+1,1c1c1c+100&0.5+0,1+82 */
					background: -moz-linear-gradient(top,  rgba(28,28,28,0.5) 0%, rgba(28,28,28,0.51) 1%, rgba(28,28,28,1) 82%, rgba(28,28,28,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(28,28,28,0.5) 0%,rgba(28,28,28,0.51) 1%,rgba(28,28,28,1) 82%,rgba(28,28,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(28,28,28,0.5) 0%,rgba(28,28,28,0.51) 1%,rgba(28,28,28,1) 82%,rgba(28,28,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#801c1c1c', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
				}
			}
		}
		.inner-main {
			height: 100%;
			min-height: 600px;
			padding: 40px 10px;
			.section-title {
				border-bottom: 1px solid $gray-dark;
				color: $white;
				text-align: left;
				h3 { 
					font: 1.7em $SSPlight;
					strong {
						font: 100% $SSPbold;
					}
				}
			}
			.contents {
				@include span-columns(12,16);
				.filtered-movies {
					.inner-contents {
						.movie-lists {
							.movie-item {
								height: 350px;
								.movie-title {
									text-align: left;
									h4 {
										color: $white;
									}
									ul {
										list-style-type: none;
										li {
											float: left;
											margin-right: 2px;
											line-height: 18px;
											a {
												text-decoration: none;
												color: $gray;
												font: 12px $SSP;
												&:hover {
													text-decoration: underline;
													color: $white;
												}
											}
										}
									}
								}
							}
						}
						.searched-result-item {
							height: 190px;
							margin-bottom: 15px;
							.movie-image {
								@include span-columns(2, 12);
								height: 190px;
								img {
									height: auto;
									width: 100%;
								}
							}
							.movie-details {
								@include span-columns(10 omega, 12);
								text-align: left;
								color: $white;
								padding: 10px 0;
								height: inherit;
								h3 {
									margin-bottom: 5px;
									a {
										color: $red;
									}
								}
								ul {
									list-style-type: none;
									margin-bottom: 15px;
									width: auto;
									height: 10px;
									li {
										float: left;
										margin-right: 3px;
										&:after {
											content: ',';
										}
										&:last-child {
											&:after {
												content: '';
											}
										}
										a {
											color: $red;
										}
									}
								}
							}
						}
					}
				}
				.movie-details {
					color: $white;
					p {
						padding-bottom: 20px;
					}
					.movie-detail-blocks {
						@include span-columns(2, 12);
						margin-bottom: 20px;
						.section-title {
							font-size: 12px;
						}
						ul {
							list-style-type: none;
							li {
								a {
									color: $red;
									text-decoration: none;
									&:hover {
										color: darken($red, 20%);
									}
								}
							}
						}
						&:last-child {
							@include span-columns(2 omega, 12);
						}
					}
				}
			}
			.sidebar-right {
				@include span-columns(4 omega, 16);
				form {
					padding: 0 5px;
					.form-select {
						width: 100%;
						padding: 0 5px;
						height: 40px;
						margin-bottom: 10px;
						background: $white;
						border-radius: 5px;
						border: none;
					}
					.btn {
						border: 0 none;
						background: $orange;
						width: 135px;
						height: 30px;
						border-radius: 15px;
						margin-top: 15px;
						color: $white;
						&:hover {
							background: darken($orange, 10%);
						}
					}
				}
			}
		}
	}
	footer {
		background: $black;
		.inner-footer {
			height: 300px;
			padding: 40px 10px;
			.section-title {
				border-bottom: 1px solid $gray-dark;
				padding-bottom: 15px;
				margin-bottom: 20px;
				color: $white;
				h4 { 
					font: 1em $SSPbold;
				}
			}
			.sub-nav-block{
				@include span-columns(4);
				height: 100%;
				.nav-lists	{
					float:left;
					margin-right: 20px;
					ul {
						list-style-type: none;
						display: block;
						li {
							line-height: 20px;
							a {
								font: 14px $SSPlight;
								color: $gray;
								text-decoration: none;
								&:hover {
									color: $white;
									text-decoration: underline;
								}
							}
						}
					}
				}
				&:last-child {
					@include span-columns(4 omega);
				}
			}
		}
		.copyright {
			border-top: 1px solid $gray-dark;
			width: 100%;
			height: 40px;
			text-align: center;
			padding: 10px 0;
			strong {
				font: 14px $SSP;
				color: $white;
			}
		}
	}
}

.slick-prev:before, .slick-next:before {
	color: transparent;
}

.slick-prev, .slick-next {
	height: 50px;
	width: 50px;
}

.slick-prev {
	background: url('../images/ic_keyboard_arrow_left_black_24px.svg')no-repeat;
	background-size: cover;
	width: 50px;
	&:hover {
		background: url('../images/ic_keyboard_arrow_left_black_24px_hover.svg')no-repeat;
		background-size: cover;
		width: 50px;
	}
}

.slick-next {
	background: url('../images/ic_keyboard_arrow_right_black_24px.svg')no-repeat;
	background-size: cover;
	width: 50px;
	&:hover {
		background: url('../images/ic_keyboard_arrow_right_black_24px_hover.svg')no-repeat;
		background-size: cover;
		width: 50px;
	}
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.movie-grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}