$black: #171717;
$black-light: #1C1C1C;
$black-lighter: lighten($black-light, 10%);

$white: #F1F1F1;
$gray: #757575;
$gray-dark: #575252;
$cyan: #50F2B5;
$orange: #FF972F;
$green: #38f264;
$red: #f23846;

$SSP: SSPregular, sans-serif;
$SSPlight: SSPlight, sans-serif;
$SSPbold: SSPbold, sans-serif;