@charset "UTF-8";
/* Import Files */
/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
/* line 19, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important; }

/* line 23, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-overlay img {
  border: none !important; }

/* line 27, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  user-select: none; }

/* line 38, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%; }

/* line 44, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-slider {
  transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
  cursor: pointer; }
  /* line 55, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
  #swipebox-slider .slide {
    height: 100%;
    width: 100%;
    line-height: 1px;
    text-align: center;
    display: inline-block; }
    /* line 62, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
    #swipebox-slider .slide:before {
      content: "";
      display: inline-block;
      height: 50%;
      width: 1px;
      margin-right: -1px; }
    /* line 70, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
    #swipebox-slider .slide img,
    #swipebox-slider .slide .swipebox-video-container,
    #swipebox-slider .slide .swipebox-inline-container {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      vertical-align: middle; }
    /* line 83, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
    #swipebox-slider .slide .swipebox-video-container {
      background: none;
      max-width: 1140px;
      max-height: 100%;
      width: 100%;
      padding: 5%;
      box-sizing: border-box; }
      /* line 90, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
      #swipebox-slider .slide .swipebox-video-container .swipebox-video {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        position: relative; }
        /* line 96, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
        #swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
          width: 100% !important;
          height: 100% !important;
          position: absolute;
          top: 0;
          left: 0; }
  /* line 106, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
  #swipebox-slider .slide-loading {
    background: url(../images/loader.gif) no-repeat center center; }

/* line 112, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-bottom-bar,
#swipebox-top-bar {
  transition: 0.5s;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%; }

/* line 122, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-bottom-bar {
  bottom: -50px; }
  /* line 125, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
  #swipebox-bottom-bar.visible-bars {
    transform: translate3d(0, -50px, 0); }

/* line 130, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-top-bar {
  top: -50px; }
  /* line 133, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
  #swipebox-top-bar.visible-bars {
    transform: translate3d(0, 50px, 0); }

/* line 138, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-title {
  display: block;
  width: 100%;
  text-align: center; }

/* line 144, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0; }

/* line 158, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-arrows {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px; }

/* line 165, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-prev {
  background-position: -32px 13px;
  float: left; }

/* line 170, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-next {
  background-position: -78px 13px;
  float: right; }

/* line 175, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-close {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  background-position: 15px 12px; }

/* line 183, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
.swipebox-no-close-button #swipebox-close {
  display: none; }

/* line 189, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3; }

/* line 195, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  animation: rightSpring 0.3s; }
/* line 199, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  animation: leftSpring 0.3s; }

/* line 206, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
  backface-visibility: hidden;
  transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0; }
/* line 219, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
.swipebox-touch #swipebox-container:before {
  left: 0;
  box-shadow: inset 10px 0px 10px -8px #656565; }
/* line 224, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
.swipebox-touch #swipebox-container:after {
  right: 0;
  box-shadow: inset -10px 0px 10px -8px #656565; }
/* line 231, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1; }
/* line 238, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1; }

@keyframes rightSpring {
  0% {
    left: 0; }
  50% {
    left: -30px; }
  100% {
    left: 0; } }
@keyframes leftSpring {
  0% {
    left: 0; }
  50% {
    left: 30px; }
  100% {
    left: 0; } }
@media screen and (min-width: 800px) {
  /* line 274, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
  #swipebox-close {
    right: 10px; }

  /* line 278, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
  #swipebox-arrows {
    width: 92%;
    max-width: 800px; } }
/* Skin 
--------------------------*/
/* line 286, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-overlay {
  background: #0d0d0d; }

/* line 290, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-bottom-bar,
#swipebox-top-bar {
  text-shadow: 1px 1px 1px black;
  background: #000;
  opacity: 0.95; }

/* line 302, ../../../resources/assets/components/swipebox/scss/swipebox.scss */
#swipebox-top-bar {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif; }

/* Slider */
/* line 3, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

/* line 18, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  /* line 25, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-list:focus {
    outline: none; }
  /* line 29, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

/* line 34, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* line 43, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  /* line 49, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  /* line 55, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-track:after {
    clear: both; }
  /* line 59, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-loading .slick-track {
    visibility: hidden; }

/* line 63, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  /* line 67, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  [dir="rtl"] .slick-slide {
    float: right; }
  /* line 70, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-slide img {
    display: block; }
  /* line 73, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-slide.slick-loading img {
    display: none; }
  /* line 79, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-slide.dragging img {
    pointer-events: none; }
  /* line 83, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-initialized .slick-slide {
    display: block; }
  /* line 87, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-loading .slick-slide {
    visibility: hidden; }
  /* line 91, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* line 97, ../../../resources/assets/components/slick-carousel/slick/slick.scss */
.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* line 40, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url('../images/ajax-loader.gif') center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url('../fonts/slick.eot?1463563975');
  src: url('../fonts/slick.eot?&1463563975#iefix') format("embedded-opentype"), url('../fonts/slick.woff?1463563975') format("woff"), url('../fonts/slick.ttf?1463563975') format("truetype"), url('../fonts/slick.svg?1463563975#slick') format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
/* line 58, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  /* line 77, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    /* line 81, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  /* line 85, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

/* line 90, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 100, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
.slick-prev {
  left: -25px; }
  /* line 102, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  /* line 106, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
  .slick-prev:before {
    content: "←"; }
    /* line 108, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

/* line 114, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
.slick-next {
  right: -25px; }
  /* line 116, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  /* line 120, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
  .slick-next:before {
    content: "→"; }
    /* line 122, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
/* line 130, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
.slick-slider {
  margin-bottom: 30px; }

/* line 134, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  /* line 142, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    /* line 150, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      /* line 162, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        /* line 164, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      /* line 168, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    /* line 185, ../../../resources/assets/components/slick-carousel/slick/slick-theme.scss */
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* normalize-scss 3.0.3+normalize.3.0.3 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 67, ../../../resources/assets/components/normalize-scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 79, ../../../resources/assets/components/normalize-scss/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 93, ../../../resources/assets/components/normalize-scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 114, ../../../resources/assets/components/normalize-scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 133, ../../../resources/assets/components/normalize-scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 143, ../../../resources/assets/components/normalize-scss/_normalize.scss */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 152, ../../../resources/assets/components/normalize-scss/_normalize.scss */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 164, ../../../resources/assets/components/normalize-scss/_normalize.scss */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 174, ../../../resources/assets/components/normalize-scss/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 186, ../../../resources/assets/components/normalize-scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 194, ../../../resources/assets/components/normalize-scss/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 204, ../../../resources/assets/components/normalize-scss/_normalize.scss */
blockquote {
  margin: 1.5em 40px; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 213, ../../../resources/assets/components/normalize-scss/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 222, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

/* line 237, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 243, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em; }

/* line 249, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

/* line 255, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em; }

/* line 261, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 273, ../../../resources/assets/components/normalize-scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 284, ../../../resources/assets/components/normalize-scss/_normalize.scss */
p,
pre {
  margin: 1.5em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 294, ../../../resources/assets/components/normalize-scss/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 302, ../../../resources/assets/components/normalize-scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 310, ../../../resources/assets/components/normalize-scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 314, ../../../resources/assets/components/normalize-scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 326, ../../../resources/assets/components/normalize-scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0; }

/* line 347, ../../../resources/assets/components/normalize-scss/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 355, ../../../resources/assets/components/normalize-scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 367, ../../../resources/assets/components/normalize-scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 382, ../../../resources/assets/components/normalize-scss/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 395, ../../../resources/assets/components/normalize-scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 407, ../../../resources/assets/components/normalize-scss/_normalize.scss */
figure {
  margin: 1.5em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 416, ../../../resources/assets/components/normalize-scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 425, ../../../resources/assets/components/normalize-scss/_normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 433, ../../../resources/assets/components/normalize-scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 457, ../../../resources/assets/components/normalize-scss/_normalize.scss */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 471, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 489, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 500, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 515, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 530, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 539, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 550, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 565, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 582, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 592, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  /* line 602, ../../../resources/assets/components/normalize-scss/_normalize.scss */
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 612, ../../../resources/assets/components/normalize-scss/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 628, ../../../resources/assets/components/normalize-scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 642, ../../../resources/assets/components/normalize-scss/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 651, ../../../resources/assets/components/normalize-scss/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 662, ../../../resources/assets/components/normalize-scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 667, ../../../resources/assets/components/normalize-scss/_normalize.scss */
td,
th {
  padding: 0; }

/*
 * Variables
 */
/* Config and Sass Variables */
/* Sass Mixins */
/* Makes border-box properties */
/* line 14, ../../../resources/assets/components/susy/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "SSPregular";
  src: url("../fonts/SourceSansPro/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/SourceSansPro/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/SourceSansPro/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro/sourcesanspro-regular-webfont.svg#SSPregular") format("svg"); }
@font-face {
  font-family: "SSPlight";
  src: url("../fonts/SourceSansPro/sourcesanspro-light-webfont.eot");
  src: url("../fonts/SourceSansPro/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/SourceSansPro/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro/sourcesanspro-light-webfont.svg#SSPlight") format("svg"); }
@font-face {
  font-family: "SSPbold";
  src: url("../fonts/SourceSansPro/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/SourceSansPro/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/SourceSansPro/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro/sourcesanspro-bold-webfont.svg#SSPbold") format("svg"); }
/* line 9, ../../../resources/assets/sass/app/_base.scss */
body {
  font: 100% SSPregular, sans-serif;
  width: 100%;
  background: #1C1C1C;
  letter-spacing: auto;
  height: 100%; }

/* line 17, ../../../resources/assets/sass/app/_base.scss */
body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

/* line 21, ../../../resources/assets/sass/app/_base.scss */
h1, h2, h3, h4, h5, h6, ul, figure, img, label {
  margin: 0;
  padding: 0; }

/* line 26, ../../../resources/assets/sass/app/_base.scss */
#page, span, a {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }

@media (min-width: 43.75em) {
  /* line 34, ../../../resources/assets/sass/app/_base.scss */
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */ } }
/* line 42, ../../../resources/assets/sass/app/_base.scss */
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }

@media (min-width: 43.75em) {
  /* line 50, ../../../resources/assets/sass/app/_base.scss */
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125; } }
@media (min-width: 56.25em) {
  /* line 58, ../../../resources/assets/sass/app/_base.scss */
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }
/* line 66, ../../../resources/assets/sass/app/_base.scss */
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }

@media (min-width: 43.75em) {
  /* line 74, ../../../resources/assets/sass/app/_base.scss */
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  /* line 82, ../../../resources/assets/sass/app/_base.scss */
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25; } }
/* line 89, ../../../resources/assets/sass/app/_base.scss */
h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }

@media (min-width: 43.75em) {
  /* line 97, ../../../resources/assets/sass/app/_base.scss */
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  /* line 105, ../../../resources/assets/sass/app/_base.scss */
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25; } }
/* line 112, ../../../resources/assets/sass/app/_base.scss */
h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  /* line 119, ../../../resources/assets/sass/app/_base.scss */
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */ } }
/* line 125, ../../../resources/assets/sass/app/_base.scss */
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */ }

@media (min-width: 43.75em) {
  /* line 133, ../../../resources/assets/sass/app/_base.scss */
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */ } }
/* line 141, ../../../resources/assets/sass/app/_base.scss */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }

/* line 147, ../../../resources/assets/sass/app/_base.scss */
.pagination > li {
  display: inline; }

/* line 150, ../../../resources/assets/sass/app/_base.scss */
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #50F2B5;
  background-color: #171717;
  margin-left: -1px; }

/* line 161, ../../../resources/assets/sass/app/_base.scss */
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

/* line 167, ../../../resources/assets/sass/app/_base.scss */
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }

/* line 172, ../../../resources/assets/sass/app/_base.scss */
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #50F2B5;
  background-color: #363636;
  border-color: #dddddd; }

/* line 181, ../../../resources/assets/sass/app/_base.scss */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #50F2B5;
  border-color: #337ab7;
  cursor: default; }

/* line 193, ../../../resources/assets/sass/app/_base.scss */
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #363636;
  border-color: #dddddd;
  cursor: not-allowed; }

/* line 204, ../../../resources/assets/sass/app/_base.scss */
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333; }

/* line 210, ../../../resources/assets/sass/app/_base.scss */
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px; }

/* line 215, ../../../resources/assets/sass/app/_base.scss */
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px; }

/* line 220, ../../../resources/assets/sass/app/_base.scss */
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5; }

/* line 226, ../../../resources/assets/sass/app/_base.scss */
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

/* line 231, ../../../resources/assets/sass/app/_base.scss */
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

/* Base Styles */
/* line 2, ../../../resources/assets/sass/app/_public-layout.scss */
.container .inner-header,
.container .inner-contents,
.container .inner-main,
.container .inner-footer {
  *zoom: 1;
  max-width: 1040px;
  max-width: 65rem;
  _width: 1040px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  /*@include susy-grid-background;*/ }
  /* line 38, ../../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .container .inner-header:after,
  .container .inner-contents:after,
  .container .inner-main:after,
  .container .inner-footer:after {
    content: "";
    display: table;
    clear: both; }
/* line 9, ../../../resources/assets/sass/app/_public-layout.scss */
.container .inner-contents {
  padding: 0; }
  /* line 11, ../../../resources/assets/sass/app/_public-layout.scss */
  .container .inner-contents .section-title {
    border-bottom: 1px solid #757575;
    padding-bottom: 15px;
    margin-bottom: 20px; }
    /* line 15, ../../../resources/assets/sass/app/_public-layout.scss */
    .container .inner-contents .section-title h3 {
      font: 1.7em SSPlight, sans-serif; }
      /* line 17, ../../../resources/assets/sass/app/_public-layout.scss */
      .container .inner-contents .section-title h3 strong {
        font: 100% SSPbold, sans-serif; }
  /* line 22, ../../../resources/assets/sass/app/_public-layout.scss */
  .container .inner-contents .movie-grid {
    position: relative;
    list-style: none;
    text-align: center; }
    /* line 26, ../../../resources/assets/sass/app/_public-layout.scss */
    .container .inner-contents .movie-grid .movie-item {
      height: 330px;
      width: 175px;
      float: left;
      margin: 0 1%;
      text-align: center; }
      /* line 32, ../../../resources/assets/sass/app/_public-layout.scss */
      .container .inner-contents .movie-grid .movie-item figure {
        position: relative;
        overflow: hidden;
        max-height: 260px;
        width: 175px;
        cursor: pointer; }
        /* line 38, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure img {
          position: relative;
          display: block;
          min-height: 100%;
          max-width: 100%; }
        /* line 44, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure figcaption {
          padding: 1em;
          color: #fff;
          text-transform: uppercase;
          font-size: 1.25em;
          color: #fff;
          /* Anchor will cover the whole item by default */
          /* For some effects it will show as a button */ }
          /* line 50, ../../../resources/assets/sass/app/_public-layout.scss */
          .container .inner-contents .movie-grid .movie-item figure figcaption::before, .container .inner-contents .movie-grid .movie-item figure figcaption::after {
            pointer-events: none; }
          /* line 53, ../../../resources/assets/sass/app/_public-layout.scss */
          .container .inner-contents .movie-grid .movie-item figure figcaption, .container .inner-contents .movie-grid .movie-item figure figcaption > .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; }
          /* line 62, ../../../resources/assets/sass/app/_public-layout.scss */
          .container .inner-contents .movie-grid .movie-item figure figcaption > .overlay {
            z-index: -1;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0; }
          /* line 69, ../../../resources/assets/sass/app/_public-layout.scss */
          .container .inner-contents .movie-grid .movie-item figure figcaption h2 {
            word-spacing: -1.15em;
            font-weight: 300;
            font: 24px SSPlight, sans-serif; }
            /* line 73, ../../../resources/assets/sass/app/_public-layout.scss */
            .container .inner-contents .movie-grid .movie-item figure figcaption h2 span {
              font: 12px SSPregular, sans-serif; }
              /* line 75, ../../../resources/assets/sass/app/_public-layout.scss */
              .container .inner-contents .movie-grid .movie-item figure figcaption h2 span::before {
                content: '';
                height: 2px;
                width: 50%;
                display: block;
                background: #50F2B5;
                margin: 5px auto 0 auto; }
        /* line 86, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure h2, .container .inner-contents .movie-grid .movie-item figure .play-btn, .container .inner-contents .movie-grid .movie-item figure .trailer-btn {
          margin: 0; }
        /* line 89, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure .play-btn {
          height: 65px;
          width: 65px;
          background: url("../images/playbutton.png") no-repeat;
          position: absolute;
          z-index: 2;
          left: 0;
          right: 0;
          text-indent: 200%;
          display: block; }
          /* line 99, ../../../resources/assets/sass/app/_public-layout.scss */
          .container .inner-contents .movie-grid .movie-item figure .play-btn:hover {
            background-position: 0 -65px; }
        /* line 103, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure .trailer-btn {
          height: 30px;
          width: 110px;
          position: absolute;
          z-index: 2;
          left: 0;
          right: 0;
          bottom: 20px;
          display: block;
          border-radius: 15px;
          font: 16px SSPregular, sans-serif;
          padding: 4px 0;
          text-decoration: none;
          color: #F1F1F1;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+1,757575+98 */
          background: #cecece;
          /* Old browsers */
          background: -moz-linear-gradient(top, #cecece 1%, #757575 98%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #cecece 1%, #757575 98%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #cecece 1%, #757575 98%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#757575',GradientType=0 );
          /* IE6-9 */ }
          /* line 123, ../../../resources/assets/sass/app/_public-layout.scss */
          .container .inner-contents .movie-grid .movie-item figure .trailer-btn:hover {
            background: #757575;
            /* Old browsers */
            background: -moz-linear-gradient(top, #f1f1f1 1%, #757575 70%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #f1f1f1 1%, #757575 70%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #f1f1f1 1%, #757575 70%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#757575',GradientType=0 );
            /* IE6-9 */ }
        /* line 133, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure.effect-chico figcaption {
          padding: 1em; }
          /* line 135, ../../../resources/assets/sass/app/_public-layout.scss */
          .container .inner-contents .movie-grid .movie-item figure.effect-chico figcaption::before {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            border: 5px solid #50F2B5;
            content: ''; }
        /* line 145, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure.effect-chico h2 {
          padding: 5% 0 15px 0; }
        /* line 148, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure.effect-chico figcaption::before, .container .inner-contents .movie-grid .movie-item figure.effect-chico .play-btn, .container .inner-contents .movie-grid .movie-item figure.effect-chico h2, .container .inner-contents .movie-grid .movie-item figure.effect-chico .trailer-btn {
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s; }
        /* line 153, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure.effect-chico .play-btn, .container .inner-contents .movie-grid .movie-item figure.effect-chico h2, .container .inner-contents .movie-grid .movie-item figure.effect-chico .trailer-btn {
          margin: 0 auto;
          max-width: 175px;
          -webkit-transform: scale(1.5);
          transform: scale(1.5); }
        /* line 159, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure.effect-chico:hover figcaption::before {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
          background: rgba(0, 0, 0, 0.7); }
        /* line 165, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item figure.effect-chico:hover .trailer-btn, .container .inner-contents .movie-grid .movie-item figure.effect-chico:hover .play-btn, .container .inner-contents .movie-grid .movie-item figure.effect-chico:hover h2 {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1); }
      /* line 174, ../../../resources/assets/sass/app/_public-layout.scss */
      .container .inner-contents .movie-grid .movie-item .movie-title {
        margin-top: 10px;
        padding: 0 5px; }
        /* line 177, ../../../resources/assets/sass/app/_public-layout.scss */
        .container .inner-contents .movie-grid .movie-item .movie-title h4 {
          font: 12px SSPbold, sans-serif;
          color: #1C1C1C;
          letter-spacing: 0.9px; }
/* line 187, ../../../resources/assets/sass/app/_public-layout.scss */
.container header {
  height: 70px;
  background: #171717; }
  /* line 190, ../../../resources/assets/sass/app/_public-layout.scss */
  .container header .inner-header {
    padding: 0 10px;
    position: relative; }
    /* line 193, ../../../resources/assets/sass/app/_public-layout.scss */
    .container header .inner-header .logo {
      font: 38px SSPbold, sans-serif;
      float: left;
      margin-right: 40px;
      text-transform: uppercase;
      padding-top: 10px; }
      /* line 199, ../../../resources/assets/sass/app/_public-layout.scss */
      .container header .inner-header .logo a {
        text-decoration: none;
        color: #50F2B5; }
    /* line 204, ../../../resources/assets/sass/app/_public-layout.scss */
    .container header .inner-header nav {
      height: 70px; }
      /* line 207, ../../../resources/assets/sass/app/_public-layout.scss */
      .container header .inner-header nav ul li {
        float: left;
        height: 70px;
        margin-right: 10px;
        padding: 25px 10px 0 10px; }
        /* line 212, ../../../resources/assets/sass/app/_public-layout.scss */
        .container header .inner-header nav ul li a {
          color: #F1F1F1;
          font: 16px SSPbold, sans-serif;
          text-decoration: none; }
        /* line 218, ../../../resources/assets/sass/app/_public-layout.scss */
        .container header .inner-header nav ul li .dropdown:after {
          content: '';
          height: 16px;
          width: 16px;
          background: url("../images/ic_arrow_drop_down_white_24dp_1x.png") no-repeat;
          display: block;
          float: right; }
        /* line 227, ../../../resources/assets/sass/app/_public-layout.scss */
        .container header .inner-header nav ul li:hover {
          background: #50F2B5; }
          /* line 229, ../../../resources/assets/sass/app/_public-layout.scss */
          .container header .inner-header nav ul li:hover a {
            color: #171717; }
          /* line 232, ../../../resources/assets/sass/app/_public-layout.scss */
          .container header .inner-header nav ul li:hover .subnav {
            visibility: visible;
            top: 100%;
            opacity: 1; }
        /* line 238, ../../../resources/assets/sass/app/_public-layout.scss */
        .container header .inner-header nav ul li .subnav {
          visibility: hidden;
          position: absolute;
          display: block;
          z-index: 50;
          top: -10px;
          height: auto;
          opacity: 0;
          transition: all 0.1s;
          background: #171717;
          padding: 10px; }
          /* line 249, ../../../resources/assets/sass/app/_public-layout.scss */
          .container header .inner-header nav ul li .subnav .subnav-list {
            float: left;
            width: 120px; }
            /* line 252, ../../../resources/assets/sass/app/_public-layout.scss */
            .container header .inner-header nav ul li .subnav .subnav-list:last-child {
              margin-left: 0; }
              /* line 254, ../../../resources/assets/sass/app/_public-layout.scss */
              .container header .inner-header nav ul li .subnav .subnav-list:last-child li {
                margin-right: 0; }
            /* line 258, ../../../resources/assets/sass/app/_public-layout.scss */
            .container header .inner-header nav ul li .subnav .subnav-list li {
              float: none;
              height: 40px;
              padding: 10px;
              text-align: center;
              border-bottom: 1px solid #2e2e2e; }
              /* line 264, ../../../resources/assets/sass/app/_public-layout.scss */
              .container header .inner-header nav ul li .subnav .subnav-list li a {
                color: #F1F1F1; }
              /* line 267, ../../../resources/assets/sass/app/_public-layout.scss */
              .container header .inner-header nav ul li .subnav .subnav-list li:last-child {
                border-bottom: none; }
              /* line 271, ../../../resources/assets/sass/app/_public-layout.scss */
              .container header .inner-header nav ul li .subnav .subnav-list li:hover a {
                color: #1C1C1C; }
        /* line 278, ../../../resources/assets/sass/app/_public-layout.scss */
        .container header .inner-header nav ul li .genre {
          left: 300px;
          width: 380px; }
        /* line 282, ../../../resources/assets/sass/app/_public-layout.scss */
        .container header .inner-header nav ul li .country {
          left: 390px;
          width: 380px; }
        /* line 286, ../../../resources/assets/sass/app/_public-layout.scss */
        .container header .inner-header nav ul li .year {
          left: 490px;
          width: 380px; }
    /* line 293, ../../../resources/assets/sass/app/_public-layout.scss */
    .container header .inner-header .quick-search-input {
      float: right;
      height: auto;
      width: 250px;
      padding-top: 18px; }
      /* line 298, ../../../resources/assets/sass/app/_public-layout.scss */
      .container header .inner-header .quick-search-input form {
        position: relative; }
        /* line 300, ../../../resources/assets/sass/app/_public-layout.scss */
        .container header .inner-header .quick-search-input form .form-quick-search-input {
          width: 100%;
          background: transparent;
          border-radius: 20px;
          border: 2px solid #757575;
          padding: 5px 10px;
          color: #F1F1F1;
          transition: All 1.418s ease;
          -webkit-transition: All 1.418s ease;
          -moz-transition: All 1.418s ease;
          -o-transition: All 1.418s ease; }
          /* line 311, ../../../resources/assets/sass/app/_public-layout.scss */
          .container header .inner-header .quick-search-input form .form-quick-search-input:hover {
            transition: All 1.418s ease;
            -webkit-transition: All 1.418s ease;
            -moz-transition: All 1.418s ease;
            -o-transition: All 1.418s ease;
            border: 2px solid #F1F1F1; }
          /* line 318, ../../../resources/assets/sass/app/_public-layout.scss */
          .container header .inner-header .quick-search-input form .form-quick-search-input.has-error {
            border: 2px solid #f23846; }
          /* line 321, ../../../resources/assets/sass/app/_public-layout.scss */
          .container header .inner-header .quick-search-input form .form-quick-search-input .form-input-search {
            background: transparent;
            color: #757575;
            border: none;
            width: 100%;
            height: 100%; }
            /* line 327, ../../../resources/assets/sass/app/_public-layout.scss */
            .container header .inner-header .quick-search-input form .form-quick-search-input .form-input-search:hover, .container header .inner-header .quick-search-input form .form-quick-search-input .form-input-search:focus {
              color: #F1F1F1; }
/* line 338, ../../../resources/assets/sass/app/_public-layout.scss */
.container main .highlights .inner-contents {
  padding: 40px 10px; }
/* line 341, ../../../resources/assets/sass/app/_public-layout.scss */
.container main .highlights .latest-movies, .container main .highlights .movie-player-poster {
  width: 100%;
  position: relative; }
/* line 345, ../../../resources/assets/sass/app/_public-layout.scss */
.container main .highlights .latest-movies {
  background: url("../images/shattered.png");
  height: 450px; }
  /* line 348, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .highlights .latest-movies .slick-prev, .container main .highlights .latest-movies .slick-next {
    top: 40%; }
/* line 352, ../../../resources/assets/sass/app/_public-layout.scss */
.container main .highlights .movie-player-poster {
  height: 480px; }
  /* line 354, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .highlights .movie-player-poster .movie-poster, .container main .highlights .movie-player-poster .movie-player {
    position: relative;
    z-index: 3; }
  /* line 358, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .highlights .movie-player-poster .movie-poster {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
    display: inline; }
  /* line 361, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .highlights .movie-player-poster .movie-player {
    width: 74.68354%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }
  /* line 364, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .highlights .movie-player-poster .background-image, .container main .highlights .movie-player-poster .background-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }
  /* line 371, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .highlights .movie-player-poster .background-image {
    z-index: 0; }
  /* line 374, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .highlights .movie-player-poster .background-overlay {
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1c1c+1,1c1c1c+100&0.5+0,1+82 */
    background: -moz-linear-gradient(top, rgba(28, 28, 28, 0.5) 0%, rgba(28, 28, 28, 0.51) 1%, #1c1c1c 82%, #1c1c1c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(28, 28, 28, 0.5) 0%, rgba(28, 28, 28, 0.51) 1%, #1c1c1c 82%, #1c1c1c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(28, 28, 28, 0.5) 0%, rgba(28, 28, 28, 0.51) 1%, #1c1c1c 82%, #1c1c1c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#801c1c1c', endColorstr='#1c1c1c',GradientType=0 );
    /* IE6-9 */ }
/* line 384, ../../../resources/assets/sass/app/_public-layout.scss */
.container main .inner-main {
  height: 100%;
  min-height: 600px;
  padding: 40px 10px; }
  /* line 388, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .inner-main .section-title {
    border-bottom: 1px solid #575252;
    color: #F1F1F1;
    text-align: left; }
    /* line 392, ../../../resources/assets/sass/app/_public-layout.scss */
    .container main .inner-main .section-title h3 {
      font: 1.7em SSPlight, sans-serif; }
      /* line 394, ../../../resources/assets/sass/app/_public-layout.scss */
      .container main .inner-main .section-title h3 strong {
        font: 100% SSPbold, sans-serif; }
  /* line 399, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .inner-main .contents {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
    display: inline; }
    /* line 404, ../../../resources/assets/sass/app/_public-layout.scss */
    .container main .inner-main .contents .filtered-movies .inner-contents .movie-lists .movie-item {
      height: 350px; }
      /* line 406, ../../../resources/assets/sass/app/_public-layout.scss */
      .container main .inner-main .contents .filtered-movies .inner-contents .movie-lists .movie-item .movie-title {
        text-align: left; }
        /* line 408, ../../../resources/assets/sass/app/_public-layout.scss */
        .container main .inner-main .contents .filtered-movies .inner-contents .movie-lists .movie-item .movie-title h4 {
          color: #F1F1F1; }
        /* line 411, ../../../resources/assets/sass/app/_public-layout.scss */
        .container main .inner-main .contents .filtered-movies .inner-contents .movie-lists .movie-item .movie-title ul {
          list-style-type: none; }
          /* line 413, ../../../resources/assets/sass/app/_public-layout.scss */
          .container main .inner-main .contents .filtered-movies .inner-contents .movie-lists .movie-item .movie-title ul li {
            float: left;
            margin-right: 2px;
            line-height: 18px; }
            /* line 417, ../../../resources/assets/sass/app/_public-layout.scss */
            .container main .inner-main .contents .filtered-movies .inner-contents .movie-lists .movie-item .movie-title ul li a {
              text-decoration: none;
              color: #757575;
              font: 12px SSPregular, sans-serif; }
              /* line 421, ../../../resources/assets/sass/app/_public-layout.scss */
              .container main .inner-main .contents .filtered-movies .inner-contents .movie-lists .movie-item .movie-title ul li a:hover {
                text-decoration: underline;
                color: #F1F1F1; }
    /* line 431, ../../../resources/assets/sass/app/_public-layout.scss */
    .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item {
      height: 190px;
      margin-bottom: 15px; }
      /* line 434, ../../../resources/assets/sass/app/_public-layout.scss */
      .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-image {
        width: 15.25424%;
        float: left;
        margin-right: 1.69492%;
        display: inline;
        height: 190px; }
        /* line 437, ../../../resources/assets/sass/app/_public-layout.scss */
        .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-image img {
          height: auto;
          width: 100%; }
      /* line 442, ../../../resources/assets/sass/app/_public-layout.scss */
      .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-details {
        width: 83.05085%;
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline;
        text-align: left;
        color: #F1F1F1;
        padding: 10px 0;
        height: inherit; }
        /* line 448, ../../../resources/assets/sass/app/_public-layout.scss */
        .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-details h3 {
          margin-bottom: 5px; }
          /* line 450, ../../../resources/assets/sass/app/_public-layout.scss */
          .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-details h3 a {
            color: #f23846; }
        /* line 454, ../../../resources/assets/sass/app/_public-layout.scss */
        .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-details ul {
          list-style-type: none;
          margin-bottom: 15px;
          width: auto;
          height: 10px; }
          /* line 459, ../../../resources/assets/sass/app/_public-layout.scss */
          .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-details ul li {
            float: left;
            margin-right: 3px; }
            /* line 462, ../../../resources/assets/sass/app/_public-layout.scss */
            .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-details ul li:after {
              content: ','; }
            /* line 466, ../../../resources/assets/sass/app/_public-layout.scss */
            .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-details ul li:last-child:after {
              content: ''; }
            /* line 470, ../../../resources/assets/sass/app/_public-layout.scss */
            .container main .inner-main .contents .filtered-movies .inner-contents .searched-result-item .movie-details ul li a {
              color: #f23846; }
    /* line 479, ../../../resources/assets/sass/app/_public-layout.scss */
    .container main .inner-main .contents .movie-details {
      color: #F1F1F1; }
      /* line 481, ../../../resources/assets/sass/app/_public-layout.scss */
      .container main .inner-main .contents .movie-details p {
        padding-bottom: 20px; }
      /* line 484, ../../../resources/assets/sass/app/_public-layout.scss */
      .container main .inner-main .contents .movie-details .movie-detail-blocks {
        width: 15.25424%;
        float: left;
        margin-right: 1.69492%;
        display: inline;
        margin-bottom: 20px; }
        /* line 487, ../../../resources/assets/sass/app/_public-layout.scss */
        .container main .inner-main .contents .movie-details .movie-detail-blocks .section-title {
          font-size: 12px; }
        /* line 490, ../../../resources/assets/sass/app/_public-layout.scss */
        .container main .inner-main .contents .movie-details .movie-detail-blocks ul {
          list-style-type: none; }
          /* line 493, ../../../resources/assets/sass/app/_public-layout.scss */
          .container main .inner-main .contents .movie-details .movie-detail-blocks ul li a {
            color: #f23846;
            text-decoration: none; }
            /* line 496, ../../../resources/assets/sass/app/_public-layout.scss */
            .container main .inner-main .contents .movie-details .movie-detail-blocks ul li a:hover {
              color: #b80c19; }
        /* line 502, ../../../resources/assets/sass/app/_public-layout.scss */
        .container main .inner-main .contents .movie-details .movie-detail-blocks:last-child {
          width: 15.25424%;
          float: right;
          margin-right: 0;
          *margin-left: -1em;
          display: inline; }
  /* line 508, ../../../resources/assets/sass/app/_public-layout.scss */
  .container main .inner-main .sidebar-right {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }
    /* line 510, ../../../resources/assets/sass/app/_public-layout.scss */
    .container main .inner-main .sidebar-right form {
      padding: 0 5px; }
      /* line 512, ../../../resources/assets/sass/app/_public-layout.scss */
      .container main .inner-main .sidebar-right form .form-select {
        width: 100%;
        padding: 0 5px;
        height: 40px;
        margin-bottom: 10px;
        background: #F1F1F1;
        border-radius: 5px;
        border: none; }
      /* line 521, ../../../resources/assets/sass/app/_public-layout.scss */
      .container main .inner-main .sidebar-right form .btn {
        border: 0 none;
        background: #FF972F;
        width: 135px;
        height: 30px;
        border-radius: 15px;
        margin-top: 15px;
        color: #F1F1F1; }
        /* line 529, ../../../resources/assets/sass/app/_public-layout.scss */
        .container main .inner-main .sidebar-right form .btn:hover {
          background: #fb7e00; }
/* line 537, ../../../resources/assets/sass/app/_public-layout.scss */
.container footer {
  background: #171717; }
  /* line 539, ../../../resources/assets/sass/app/_public-layout.scss */
  .container footer .inner-footer {
    height: 300px;
    padding: 40px 10px; }
    /* line 542, ../../../resources/assets/sass/app/_public-layout.scss */
    .container footer .inner-footer .section-title {
      border-bottom: 1px solid #575252;
      padding-bottom: 15px;
      margin-bottom: 20px;
      color: #F1F1F1; }
      /* line 547, ../../../resources/assets/sass/app/_public-layout.scss */
      .container footer .inner-footer .section-title h4 {
        font: 1em SSPbold, sans-serif; }
    /* line 551, ../../../resources/assets/sass/app/_public-layout.scss */
    .container footer .inner-footer .sub-nav-block {
      width: 24.05063%;
      float: left;
      margin-right: 1.26582%;
      display: inline;
      height: 100%; }
      /* line 554, ../../../resources/assets/sass/app/_public-layout.scss */
      .container footer .inner-footer .sub-nav-block .nav-lists {
        float: left;
        margin-right: 20px; }
        /* line 557, ../../../resources/assets/sass/app/_public-layout.scss */
        .container footer .inner-footer .sub-nav-block .nav-lists ul {
          list-style-type: none;
          display: block; }
          /* line 560, ../../../resources/assets/sass/app/_public-layout.scss */
          .container footer .inner-footer .sub-nav-block .nav-lists ul li {
            line-height: 20px; }
            /* line 562, ../../../resources/assets/sass/app/_public-layout.scss */
            .container footer .inner-footer .sub-nav-block .nav-lists ul li a {
              font: 14px SSPlight, sans-serif;
              color: #757575;
              text-decoration: none; }
              /* line 566, ../../../resources/assets/sass/app/_public-layout.scss */
              .container footer .inner-footer .sub-nav-block .nav-lists ul li a:hover {
                color: #F1F1F1;
                text-decoration: underline; }
      /* line 574, ../../../resources/assets/sass/app/_public-layout.scss */
      .container footer .inner-footer .sub-nav-block:last-child {
        width: 24.05063%;
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline; }
  /* line 579, ../../../resources/assets/sass/app/_public-layout.scss */
  .container footer .copyright {
    border-top: 1px solid #575252;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px 0; }
    /* line 585, ../../../resources/assets/sass/app/_public-layout.scss */
    .container footer .copyright strong {
      font: 14px SSPregular, sans-serif;
      color: #F1F1F1; }

/* line 593, ../../../resources/assets/sass/app/_public-layout.scss */
.slick-prev:before, .slick-next:before {
  color: transparent; }

/* line 597, ../../../resources/assets/sass/app/_public-layout.scss */
.slick-prev, .slick-next {
  height: 50px;
  width: 50px; }

/* line 602, ../../../resources/assets/sass/app/_public-layout.scss */
.slick-prev {
  background: url("../images/ic_keyboard_arrow_left_black_24px.svg") no-repeat;
  background-size: cover;
  width: 50px; }
  /* line 606, ../../../resources/assets/sass/app/_public-layout.scss */
  .slick-prev:hover {
    background: url("../images/ic_keyboard_arrow_left_black_24px_hover.svg") no-repeat;
    background-size: cover;
    width: 50px; }

/* line 613, ../../../resources/assets/sass/app/_public-layout.scss */
.slick-next {
  background: url("../images/ic_keyboard_arrow_right_black_24px.svg") no-repeat;
  background-size: cover;
  width: 50px; }
  /* line 617, ../../../resources/assets/sass/app/_public-layout.scss */
  .slick-next:hover {
    background: url("../images/ic_keyboard_arrow_right_black_24px_hover.svg") no-repeat;
    background-size: cover;
    width: 50px; }

@media screen and (max-width: 50em) {
  /* line 625, ../../../resources/assets/sass/app/_public-layout.scss */
  .content {
    padding: 0 10px;
    text-align: center; }

  /* line 629, ../../../resources/assets/sass/app/_public-layout.scss */
  .movie-grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%; } }
/* Site App Theme */
